<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.pteplus.petplus"> <!-- Asegúrate de incluir el nombre del paquete correcto -->

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PetPlus"
        tools:targetApi="31"
        tools:ignore="DuplicateActivity">


        <!--Login-->
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--Registro-->
        <activity
            android:name=".RegistroActivity"
            android:exported="true"
            android:parentActivityName=".LoginActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".LoginActivity" />
        </activity>

        <!--Menu principal-->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <!-- Agrega configuraciones específicas para MainActivity si es necesario -->
        </activity>

        <!--Agregar Mascota-->
        <activity
            android:name=".AgregarMascotaActivity"
            android:exported="true">
            <!-- Agrega configuraciones específicas para AgregarMascotaActivity si es necesario -->
        </activity>

        <!--Agregar Veterinaria-->
        <activity
            android:name=".AgregarVeterinariaActivity"
            android:exported="true">
            <!-- Agrega configuraciones específicas para AgregarVeterinariaActivity si es necesario -->
        </activity>

        <!--Tus Veterinarias-->
        <activity
            android:name=".TusVeterinariasActivity"
            android:exported="true">
            <!-- Agrega configuraciones específicas para TusVeterinariasActivity si es necesario -->
        </activity>

        <!--Tus Mascotas-->
        <activity
            android:name=".TusMascotasActivity"
            android:exported="true">
            <!-- Agrega configuraciones específicas para TusMascotasActivity si es necesario -->
        </activity>

        <!--Tus Recordatorios-->
        <activity
            android:name=".TusRecordatoriosActivity"
            android:exported="true">
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>