<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.pteplus.petplus">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PetPlus"
        tools:ignore="DuplicateActivity"
        tools:targetApi="31">
        <activity
            android:name=".VerMascotaActivity"
            android:exported="false" />
        <activity
            android:name=".EditarMascotasActivity"
            android:exported="false" /> <!-- Login -->
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- Registro -->
        <activity
            android:name=".RegistroActivity"
            android:exported="true"
            android:parentActivityName=".LoginActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".LoginActivity" />
        </activity> <!-- Menu principal -->
        <activity
            android:name=".MainActivity"
            android:exported="true"></activity> <!-- Agregar Mascota -->
        <activity
            android:name=".AgregarMascotaActivity"
            android:exported="true"></activity> <!-- Agregar Veterinaria -->
        <activity
            android:name=".AgregarVeterinariaActivity"
            android:exported="true"></activity> <!-- Tus Veterinarias -->
        <activity
            android:name=".TusVeterinariasActivity"
            android:exported="true"></activity> <!-- Tus Mascotas -->
        <activity
            android:name=".TusMascotasActivity"
            android:exported="true"></activity> <!-- Tus Recordatorios -->
        <activity
            android:name=".TusRecordatoriosActivity"
            android:exported="true"></activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>